@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-size: 100%;
}
html {
    max-height: fit-content;
}
body {
    background:linear-gradient(to right,rgb(0 0 0 / .8), rgb(0 0 0 /0)), url("./media/lanterne-de-ramadhan.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
header{
    margin: 2.5rem 2rem;
}
#ramadhan {
    text-align: center;
    font-family: 'Noto Nastaliq Urdu', serif;
    font-size: 7rem;
    letter-spacing: 5px;
    color: #e6d0a5; 
}
#compte{
    margin: 2em 0em;
    padding: 1em 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    
}
.time {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 20px;
    border: 1px solid #34364F;
    border-radius: 45px;
    box-shadow: 5px 0 4.5px rgb(174, 183, 208);
    font-size: 5rem;
    color: #ffffff;
    font-weight: bolder;
    font-family: Andalus, sans-serif;
    background-color:  #dbbb77;
    height: 110px;
}

.blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: auto;
}

.blocks p {
    letter-spacing: 3px;
    color: #EC994B;
    font-weight:bold ;
    font-family: Andalus, sans-serif;
    font-size: 2.7em;
    text-align: center; 
}
audio{
    border: rgb(-3, 10, 48) solid 10px;
    border-radius: 45px;
}
@media screen and (max-width:768px) {
  #head{
      width:100%;
  }
  #ramadhan{
      font-size: 4rem;
  }
.time{
    width: 97%;
    height: 110px;
    font-size: 3.5rem;
}
    audio{
        visibility: hidden;
    }
}
@media screen and (max-width:450px) {
    #ramadhan{
        font-size: 3rem;
    }
    #compte{
        padding:1em 0;
    }
    .blocks{
        width: 22%;
    }
    .time{
        font-size: 2.5em;
    }
    .blocks p{
        font-size: 1.6em;
    }
audio{
    visibility: hidden;
}
}
